*~
Icon*
/.idea
src/simulate-try1.py
.DS_Store
*.sh
src/simulations/*.dat
*/*/__pycache__
*.pyc
/report/*/*.log
/report/*/*.aux
/report/*/*.out
/report/*/*.toc
/report/submitted
enph253/*/*.py
*/*/.idea
*/*/CMakeLists.txt
enph253/poopy_mayonnaise/src/Tests/*/Makefile
enph253/poopy_mayonnaise/notes/*
*.out
*.gch
